:root{
    --main-bg: #040519;
    --blob-color: #D6863C;

    --card-bg: linear-gradient(135deg, #D6863C 0%, #141765 100%);
    --card-border-radius: 10px;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* General */
html{
    height: 100%;
}

body{
    background: var(--main-bg);
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    height: 100%;
}