body {
        font-family: 'Alegreya', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2e69c;
        padding: 1rem;
        box-sizing: border-box;
}
html {
        font-size: 62.5%;
    font-family: 'Alegreya', serif;
}

img {
        border-radius: 2rem;

}


